@font-face {
    font-family: 'montserratmedium';
    src: url('assets/montserrat/montserrat-medium-webfont.woff2') format('woff2'),
         url('assets/montserrat/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratbold';
    src: url('assets/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
         url('assets/montserrat/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242E4C;
    height: 100vh;
}

.question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 190px;
    border-radius: 8px;
    border-left: 3px solid #928AF9;
    background: #2C385A;
    box-shadow: 13px 20px 20px 0px #1E2744;
}

.question-container .question, h2 {
    opacity: 0.9;
    font-family: montserratmedium;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 38px;
}

.question-container .nombre-de-questions {
    opacity: 0.7;
    font-family: montserratmedium;
    font-size: 15px;
    color: #FFFFFF;
}

.question-container #reponse {
    width: 475px;
    background: #242E4C;
    border-radius: 3px;
    border: none;
    margin-top: 25px;
    padding: 18px;
    color: #fff;
    font-size: 16px;
}

.question-container #reponse::placeholder {
    opacity: 0.6;
    font-family: montserratmedium;
    font-size: 12.5px;
    color: #B7C9FF;
}

.question-container #bouton {
    font-family: montserratbold;
    font-size: 15px;
    padding: 13px 20px;
    color: #928AF9;
    background: #2C385A;
    border: 2px solid #928AF9;
    margin-left: 5px;
    cursor: pointer;
}

@media screen and (max-width: 730px) {

    .question-container {
        width: 475px;
        height: 190px;
    }

    .question-container #reponse {
        width: 250px;
    }
}

@media screen and (max-width: 500px) {


    .question-container .question {
       margin-top: 10px;
       font-size: 14px;
       text-align: center;
       line-height: 1.8;
    }

    .question-container .nombre-de-questions {
        font-size: 12px;
        margin-top: 5px;
    }

    .question-container {
        width: 275px;
        height: 240px;
    }

    .question-container .reponse-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .question-container #bouton {
        font-size: 10px;
        margin: 15px 75px;
        padding: 10px 20px;
    }

    .question-container #reponse {
        width: 215px;
    }

}